header{
	background-color: white;
	font-weight: bold;
	color: black;
	text-align: center;
	font-family: verdana;
}

ul{
	padding-left: 28%;
	list-style-type: none;	
}

li{
	padding-right: 5%;
	padding-left: 5%;
	display: inline;
	text-align: center;
	font-family: verdana;
	align-self: center;
}

aside{
	font-style: italic;
	font-weight: normal;
}

canvas{
	height: 50%;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
}